
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

/* General style */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.content {
    width: 750px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    font-weight: 300;
    margin: 40px auto;
}

p {
    margin-bottom: 30px;
    line-height: 1.3em;
    letter-spacing: 0.05em;
}

.hidden {
    display: none;
}

/* Typing */

.type-area {
    height: 50px;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    line-height: 20px;
    resize: none;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    background-color: #DEFFF2;
}

.typed-words {
    color: #B6B6B6;
}

.typing-text {
    text-decoration: underline;
}

.matched {
    background-color: #9BFFAF;
}

.non-matched {
    background-color: #FC717D;
}

/* Game Over */

.game-over {
    opacity: 0.3;
}

/* Game controls */

.control {
    height: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    background-color: white;
    border: none;
    cursor: pointer;
}
